/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* * {
	font-family: "Work Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif !important;
} */

body {
	transition: all 0.3s;
}

.vanish-scroll-bar::-webkit-scrollbar {
	width: 0em; /* Set a width for the scrollbar if you want to show a custom scrollbar */
}

.vanish-scroll-bar::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0); /* Transparent */
}

.vanish-scroll-bar {
	scrollbar-width: none;
}

.dish-card-overlay {
	background: linear-gradient(to top, #0007 60%, transparent);
}
.dish-card:hover .dish-card-overlay {
	background: linear-gradient(to top, #000a 99%, transparent);
}

.menu-content {
	animation: fade 1000ms;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.text-shadow {
	text-shadow: 0 0 10px #0005;
}
.center {
	@apply flex justify-center items-center;
}
.animate-zero {
	animation: zero 300ms ease-out;
}
.animate-zero-reverse {
	animation: zero 300ms ease-out reverse;
}
@keyframes zero {
	0% {
		clip-path: circle(5.1% at 100% 0);
	}

	30% {
		clip-path: circle(38.6% at 96% 4%);
	}
	70% {
		clip-path: circle(96.3% at 96% 4%);
	}
	100% {
		clip-path: circle(136.4% at 96% 4%);
	}
}
