@tailwind base;
@tailwind components;
@tailwind utilities;

.dishes::-webkit-scrollbar {
	width: 0.5em; /* Set a width for the scrollbar if you want to show a custom scrollbar */
}

.dishes::-webkit-scrollbar-thumb {
	background-color: transparent; /* Hide the thumb (the draggable part of the scrollbar) */
}

.dishes {
	scrollbar-width: none;
}
